@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

Surtiacrylicos

File:			template.css
Author:			Amapolazul Grupo Creativo
Homepage:		www.amapolazul.com
Copyright:		2013

************************************************************************************************************************ */

/* ---------- General ---------- */

* {
	margin: 0;
	padding: 0;
	color: #000;
}

body {
	margin: 0;
	padding: 0;
	background: url(../images/bg.jpg);
	background-position: top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: inherit;
	line-height: inherit;
}

table {
	border: none;
}

table tr th,
table tr td {
	padding: 0;
	text-align: inherit;
}

p {
	margin-bottom: 0;
	font-size: inherit;
	line-height: inherit;
}

img {
	border: none;
}

a {
	color: #2E3190;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul {
	margin-left: 0;
	margin-bottom: 0;
	font-size: inherit;
	line-height: inherit;
	list-style: none;
}

li {
	list-style: none;
}

input[type="text"],
textarea {
	height: auto;
	margin: 0;
	padding: 0;
	border: none;
	font-size: inherit;
}

.inputbox {
	padding: 2px !important;
	border: 1px solid #2E3190 !important;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 12px !important;
}

.button {
	padding: 5px 10px;
	background-color: #2E3190;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
}

/* ---------- Template ---------- */

/* All */

.all {
	width: 980px;
	margin: 20px auto;
	padding: 15px;
	background-color: #FFF;
	-webkit-box-shadow: 5px 0px 8px 0px #333;
	box-shadow: 5px 0px 8px 0px #333;
}

/* Top */

.top {
	width: 950px;
	height: 136px;
	background: url(../images/top_bg.png) no-repeat;
}

.moduletable_t1 {
	width: 278px;
	height: 114px;
	margin: 11px 0 11px 12px;
	float: left;
	position: relative;
}

.moduletable_t2 {
	width: 402px;
	height: 82px;
	margin: 5px 0 0 0;
	float: left;
	position: relative;
}

.moduletable_t3 {
	margin: 10px 10px 0 10px;
	float: left;
	position: relative;
}

.moduletable_t3 h3 {
	font-weight: normal;
	color: #FFF;
}

.moduletable_t4,
.moduletable_t5,
.moduletable_t8 {
	width: 44px;
	height: 36px;
	margin: -4px 10px 0 0;
	float: left;
	position: relative;
}

.moduletable_t8 {
	margin: -4px 0 0 0;
}

.moduletable_t6 {
	width: 220px;
	margin: 20px 0 0 30px;
	float: left;
	position: relative;
}

.moduletable_t6 h3 {
	color: #FFF;
	text-transform: uppercase;
	float: left;
	position: relative;
}

.moduletable_t6 form {}

.search_t6 {}

.search_t6 label {
	font-size: 0;
}

.search_t6 .inputbox_t6 {
	width: 145px;
	height: 20px;
	margin-left: 10px;
	padding: 0;
	background: url(../images/inputbox_t6_bg.png);
	border: none;
	-ms-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
}

.moduletable_t7 {
	width: 640px;
	height: 42px;
	margin: 6px 0 0 20px;
	padding: 2px;
	background: url(../images/moduletable_t7_bg.png) no-repeat;
	float: left;
	position: relative;
}

ul.menu_list {
	list-style: none;
}

ul.menu_list li {
	padding: 6px 5px 0px 5px;
	border-right: 2px solid #FFF;
	text-transform: uppercase;
	float: left;
	position: relative;
}

ul.menu_list li.active a,
ul.menu_list a:hover {
	background-color: #FFF;
	-ms-border-radius-topleft: 8px;
	-ms-border-radius-topright: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-khtml-border-radius-topleft: 8px;
	-khtml-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	color: #BF272D;
}

ul.menu_list a {
	padding: 10px 3px 10px 3px;
	color: #FFF;
	text-decoration: none;
	display: block;
}

ul.menu_list li.item-101 {
	font-size: 0;
}

ul.menu_list li.item-101 a {
	width: 34px;
	height: 35px;
	padding: 8px 6px 5px 6px;
	background: url(../images/item-101_a_bg.png) no-repeat;
	background-position: center;
	font-size: 0;
}

ul.menu_list li.item-101.active a,
ul.menu_list li.item-101 a:hover {
	background: url(../images/item-101_a_hover_bg.png) no-repeat #FFF;
	background-position: center;
}

ul.menu_list li.item-112 {
	border-right: none;
}

ul.menu_list li.item-182 {
	display: none;
}

.moduletable_t9 {
	width: 220px;
	margin: 8px 0 0 30px;
	float: left;
	position: relative;
}

.custom_t9 {
	font-size: 16px;
	color: #FFF;
}

.custom_t9 i,
.custom_t9 strong {
	color: #FFF;
}

/* Separator */

.separator {
	width: 950px;
	border: 1px solid #AEC0CA;
	margin: 10px auto;
}

/* Left */

.left {
	width: 230px;
	float: left;
	position: relative;
}

.moduletable_l1 {}

.moduletable_l1 h3 {
	width: 230px;
	height: 30px;
	padding-top: 5px;
	background: url(../images/moduletable_l1_h3_bg.png) no-repeat;
	font-size: 16px;
	color: #FFF;
	text-align: center;
}

.moduletable_l1 ul.VMmenu {
	margin: 0;
	padding: 0;
	border: 1px solid #0071BA;
}

.moduletable_l1 ul.VMmenu li {
	margin: 0;
	padding: 0;
}

.moduletable_l1 ul.VMmenu div {
	/*background: url(../images/moduletable_l1_div_bg.png) no-repeat 7px 10px;*/
}

.moduletable_l1 ul.VMmenu li:nth-child(1) div {
	background: url(../images/moduletable_l1_div_bg_1.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li:nth-child(2) div {
	background: url(../images/moduletable_l1_div_bg_2.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li:nth-child(3) div {
	background: url(../images/moduletable_l1_div_bg_3.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li:nth-child(4) div {
	background: url(../images/moduletable_l1_div_bg_4.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li:nth-child(5) div {
	background: url(../images/moduletable_l1_div_bg_5.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li:nth-child(6) div {
	background: url(../images/moduletable_l1_div_bg_6.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li:nth-child(7) div {
	background: url(../images/moduletable_l1_div_bg_7.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li:nth-child(8) div {
	background: url(../images/moduletable_l1_div_bg_8.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li:nth-child(9) div {
	background: url(../images/moduletable_l1_div_bg_9.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li:nth-child(10) div {
	background: url(../images/moduletable_l1_div_bg_10.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li:nth-child(11) div {
	background: url(../images/moduletable_l1_div_bg_11.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li:nth-child(12) div {
	background: url(../images/moduletable_l1_div_bg_12.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li:nth-child(13) div {
	background: url(../images/moduletable_l1_div_bg_13.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li:nth-child(14) div {
	background: url(../images/moduletable_l1_div_bg_14.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li:nth-child(15) div {
	background: url(../images/moduletable_l1_div_bg_15.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li:nth-child(16) div {
	background: url(../images/moduletable_l1_div_bg_16.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li:nth-child(17) div {
	background: url(../images/moduletable_l1_div_bg_17.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li:nth-child(18) div {
	background: url(../images/moduletable_l1_div_bg_18.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li:nth-child(19) div {
	background: url(../images/moduletable_l1_div_bg_19.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li:nth-child(20) div {
	background: url(../images/moduletable_l1_div_bg_20.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li:nth-child(21) div {
	background: url(../images/moduletable_l1_div_bg_21.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li:nth-child(22) div {
	background: url(../images/moduletable_l1_div_bg_5.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li a {
	padding: 8px 10px 8px 18px;
	display: block;
}

.moduletable_l1 ul.VMmenu li:nth-child(odd) a {
	background: url(../images/moduletable_l1_a_bg.png);
}

.moduletable_l1 ul.VMmenu li a:hover,
.moduletable_l1 ul.VMmenu li.VmOpen a {
	width: 238px;
	padding: 8px 18px 8px 18px;
	background: url(../images/moduletable_l1_a_hover_bg.png) no-repeat;
	background-position: center;
	color: #FFF;
	text-decoration: none;
}

/* Component */

.component {
	width: 710px;
	padding: 10px;
	float: right;
	position: relative;
}

/* Banners */

.banners {}

.moduletable_b1 {
	width: 690px;
	height: 305px;
	margin-bottom: 20px;
}

.moduletable_b2,
.moduletable_b3,
.moduletable_b4,
.moduletable_b5,
.moduletable_b6,
.moduletable_b7,
.moduletable_b8,
.moduletable_b9 {
	width:150px;
	height:134px;
	margin:20px 11px 20px 11px;
	float:left;
	position:relative;
}

.moduletable_b10 {}

.moduletable_b11,
.moduletable_b11 #djslider109 {
	width: 690px !important;
	height: 460px !important;
}

/* Copyright */

.copyright {
	width: 1014px;
	height: 63px;
	margin-left: -32px;
	padding-top: 23px;
	background: url(../images/copyright_bg.png) no-repeat;
	color: #FFF;
	text-align: center;
	position: relative;
}

.copyright a {
	color: #FFF;
}

/* ---------- Joomla ---------- */

.blog-featured {}

.blog-featured h1 {}

.blog {
	width: 100%;
}

.items-leading,
.item-page,
.item {}

.items-leading h2,
.item-page h2,
.item h2 {
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
	color: #2E3190;
}

.items-leading b,
.item-page b,
.item b {
	color: #2E3190;
}

.items-leading strong,
.item-page strong,
.item strong {
	color: #2E3190;
}

.items-leading img,
.item-page img,
.item img {}

.items-leading ul,
.item-page ul,
.item ul {
	margin: 5px;
}

.items-leading li,
.item-page li,
.item li {
	padding: 5px 5px 5px 20px;
	background: url(../images/li_bg.png) no-repeat 7px 10px;
	text-align: justify;
}

.items-leading li ul li,
.item-page li ul li,
.item li ul li {}

.items-leading li ul li ul li,
.item-page li ul li ul li,
.item li ul li ul li {}

.readmore {
	margin-top: 10px;
	text-align: right;
}

.item-separator {
	height: 0;
	margin: 10px;
	background-color: #FFF;
	display: block;
}

.pagination {
	text-align: center;
}

.pagination ul {
	padding: 0;
	list-style: none;
}

.pagination ul li {
	padding: 0 5px;
	list-style: none;
	display: inline;
}

/* ---------- Components ---------- */

/* Search */

.search {}

.search .word {
	padding: 10px;
	border: 1px solid #2E3190;
}

.search .searchintro {
	padding: 10px 0px;
}

.search .phrases {
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #2E3190;
}

.search .phrases legend {
	padding: 0px 10px;
	color: #2E3190;
}

.search .phrases .phrases-box {
	margin-bottom: 10px;
}

.search .phrases .phrases-box label {
	padding: 0px 10px;
}

.search .only {
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #2E3190;
}

.search .only legend {
	padding: 0px 10px;
	color: #2E3190;
}

.search .only label {
	padding: 0px 10px;
}

.search .form-limit {
	margin-bottom: 10px;
	text-align: center;
}

.search .counter {
	margin-bottom: 10px;
	text-align: center;
}

.search .search-results {}

.search .search-results .result-title {
	margin-bottom: 5px;
	font-weight: bold;
	color: #2E3190;
}

.search .search-results .result-category {
	margin-bottom: 10px;
	font-size: 10px;
	color: #666;
}

.search .search-results .result-text {
	margin-bottom: 10px;
}

.search .search-results .result-text .highlight {
	font-weight: bold;
	color: #2E3190;
}

.search .search-results .result-created {
	margin-bottom: 10px;
	font-size: 10px;
	color: #666;
}

.search .pagination {
	text-align: center;
	clear: both;
}

.search .pagination ul {
	padding: 0;
	list-style: none;
}

.search .pagination ul li {
	padding: 0px 5px;
	list-style: none;
	display: inline;
}

/* VirtueMart */

/* Category */

.category_description {}

.browse-view {
	margin: 0;
}

.browse-view .orderby-displaynumber {
	color: #FFF;
}

.browse-view .orderlistcontainer div.title {
	margin-bottom: 5px;
}

.browse-view .orderlistcontainer div.activeOrder {
	width: 140px;
	padding: 2px;
	background-color: #FFF;
	border: 1px solid #E4E4E4;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
}

.browse-view .display-number {
	color: #FFF;
}

.browse-view .display-number .inputbox {
	margin-top: 10px;
}

.browse-view h1 {
	margin-bottom: 10px;
	font-weight: bold;
	color: #BF272D;
}

.browse-view .row {}

.browse-view .row .product {
	margin: 0px 10px;
	background-color: #FFF;
}

.browse-view .row .width25 {
	width: 152px;
}

.browse-view .row .product .spacer {
	padding: 0;
}

.browse-view .row .product .spacer .img {
	width: 150px;
	height: 150px;
	margin: auto;
	padding: 5px;
	border: 1px solid #E4E4E4;
	text-align: center;
}

.browse-view .row .product .spacer h2 {
	padding: 5px;
	font-weight: bold;
	color: #BF272D;
	text-align: center;
}

.browse-view .row .product .spacer h2 a {
	color: #BF272D;
}

/* Product Details */

.width60 {}

.width40 {
	width: 35%;
	padding: 10px;
}

.productdetails-view h1 {
	margin-bottom: 10px;
	font-weight: bold;
	color: #BF272D;
}

.button_product {
	padding: 20px;
}

/* Pagination */

.vm-pagination {
	padding-top: 10px;
	color: #FFF;
	text-align: center;
}

.vm-pagination ul {
	padding: 0;
	list-style: none;
}

.vm-pagination ul li {
	padding: 0 5px;
	list-style: none;
	display: inline;
}

/* BreezingForms */

.contact_form {}

.contact_form h2 {
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
	color: #2E3190;
}

.contact_form b {
	color: #2E3190;
}

.contact_form strong {
	color: #2E3190;
}

.contact_form a {
	color: #2E3190;
}

.contact_form .title_1 {
	width: 690px;
	height: 24px;
	padding-top: 4px;
	background: url(../images/contact_form_title_1_bg.png) no-repeat;
	color: #FFF;
	text-align: center;
}

.contact_form .title_2 {
	font-size: 14px;
}

.contact_form .asterisk {
	color: #900;
}

.contact_form .image {}

/* ChronoForms */

.chronoform h2 {
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
	color: #2E3190;
}

.chronoform .title_1 {
	height: 24px;
	padding-top: 4px;
	background: url(../images/contact_form_title_1_bg.png) no-repeat;
	color: #FFF;
	text-align: center;
}

.chronoform .title_2 {
	font-size: 14px;
}

p.chrono_credits {
	margin: 0;
	line-height: 0;
}

p.chrono_credits a {
	font-size: 0;
}

/* ---------- Media Queries ---------- */

/* XXLarge screens */

/* min-width 1921px */

@media only screen and (min-width: 120.063em) {}

/* XLarge screens */

/* min-width 1441px */

@media only screen and (min-width: 90.063em) {}

/* min-width 1441px and max-width 1920px */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {}

/* Large screens */

/* min-width 1025px */

@media only screen and (min-width: 64.063em) {}

/* min-width 1025px and max-width 1440px */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {}

/* Medium screens */

/* min-width 641px */

@media only screen and (min-width: 40.063em) {}

/* min-width 641px and max-width 1024px */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {}

/* Small screens */

/* Define mobile styles */

@media only screen {

	/* Top */

	.top_mobile {}

	.moduletable_tm1 {
		padding: 10px;
		background-color: #0E0E5B;
		text-align: center;
	}

	.custom_tm1 {
		font-size: 14px;
		color: #FFF;
		line-height: 7px;
	}

	.custom_tm1 i,
	.custom_tm1 strong {
		color: #FFF;
	}

	.top-bar {
		background: none;
		line-height: normal;
	}

	.top-bar .title-area {
		background-color: #BF272D;
	}

	.top-bar .title-area a {
		text-decoration: none;
	}

	.top-bar .title-area span {
		color: #FFF;
	}

	.top-bar.expanded .title-area {
		background: none;
	}

	.top-bar.expanded .title-area span {
		color: #888;
	}

	.top-bar-section ul li {
		background: none;
	}

	.top-bar-section li:not(.has-form) a:not(.button),
	.top-bar-section li.active:not(.has-form) a:not(.button) {
		padding: 5px 10px;
		background: none;
		font-size: 14px;
		line-height: normal;
		color: #BF272D;
	}

	.top-bar-section li:not(.has-form) a:not(.button):hover,
	.top-bar-section li.active:not(.has-form) a:not(.button) {
		background: #BF272D;
		color: #FFF;
	}

	ul.menu_list_mobile li.item-182 {
		display: none;
	}

	/* Left */

	a.left-off-canvas-toggle {
		padding-bottom: 10px;
		font-size: 14px;
		display: block;
	}

	.left-off-canvas-menu {
		background: none;
		background-color: #FFF;
	}

}

/* max-width 640px */

@media only screen and (max-width: 40em) {

	/* All */

	.all {
		width: auto;
		margin: 10px auto;
		padding: 5px;
	}

	/* Separator */

	.separator {
		width: auto;
	}

	/* Component */

	.component {
		width: 100%;
		padding: 10px 0;
		float: none;
	}

	/* Banners */

	.moduletable_b1 {
		width: 100%;
		height: auto;
	}

	.moduletable_b11,
	.moduletable_b11 #djslider109 {
		width: 100% !important;
		height: auto !important;
	}

	/* Copyright */

	.copyright {
		width: auto;
		height: auto;
		margin-left: 0;
		padding-top: 0;
		padding: 10px;
		background: none;
		background-color: #0E0E3A;
	}

}

/* ---------- Others ---------- */

.clear {
	clear: both;
}