@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

Surtiacrylicos

File:			template.css
Author:			Amapola Azul
Homepage:		www.amapolazul.com
Copyright:		2013

************************************************************************************************************************ */

/* ---------- General ---------- */

* {
	margin:0px;
	padding:0px;
        color: black;
}

body {
	margin:0px;
	padding:0px;
	background:url(../images/bg.jpg);
	background-position:top;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

img {
	border:none;
}

a {
	color:#2E3190;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

ul {
	list-style:none;
}

li {
	list-style:none;
}

.inputbox {
	padding:2px;
	border:1px solid #2E3190;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

.button {
	padding:5px 10px 5px 10px;
	background-color:#2E3190;
	border:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFF;
}

/* ---------- Template ---------- */

.all {
	width:950px;
	margin:20px auto 20px auto;
	padding:15px;
	background-color:#FFF;
	-webkit-box-shadow:5px 0px 8px 0px #333;
	box-shadow:5px 0px 8px 0px #333;
}

.top {
	width:950px;
	height:136px;
	background:url(../images/top_bg.png) no-repeat;
}

.separator {
	width:950px;
	border:1px solid #AEC0CA;
	margin:10px auto 10px auto;
}

.left {
	width:230px;
	float:left;
	position:relative;
}

.component {
	width:690px;
	padding:10px;
	float:right;
	position:relative;
}

.banners {
}

.copyright {
	width:1014px;
	height:37px;
	margin-left:-32px;
	padding-top:26px;
	background:url(../images/copyright_bg.png) no-repeat;
	color:#FFF;
	text-align:center;
	position:relative;
}

.copyright a {
	color:#FFF;
}

/* ---------- Joomla ---------- */

.blog-featured {
}

.blog-featured h1 {
}

.blog {
	width:100%;
}

.items-leading, .item-page, .item {
}

.items-leading h2, .item-page h2, .item h2 {
	margin-bottom:10px;
	color:#2E3190;
}

.items-leading b, .item-page b, .item b {
	color:#2E3190;
}

.items-leading strong, .item-page strong, .item strong {
	color:#2E3190;
}

.items-leading img, .item-page img, .item img {
}

.items-leading ul, .item-page ul, .item ul {
	margin:5px;
}

.items-leading li, .item-page li, .item li {
	padding:5px 5px 5px 20px;
	background:url(../images/li_bg.png) no-repeat 7px 10px;
	text-align:justify;
}

.items-leading li ul li, .item-page li ul li, .item li ul li {
}

.items-leading li ul li ul li, .item-page li ul li ul li, .item li ul li ul li {
}

.readmore {
	margin-top:10px;
	text-align:right;
}

.item-separator {
	height:0px;
	margin:10px;
	background-color:#FFF;
	display:block;
}

.pagination {
	text-align:center;
}

.pagination ul {
	padding:0px;
	list-style:none;
}

.pagination ul li {
	padding:0px 5px 0px 5px;
	list-style:none;
	display:inline;
}

/* ---------- Contents ---------- */

/* Contactos */

.contact_form {
}

.contact_form h2 {
	margin-bottom:10px;
	color:#2E3190;
}

.contact_form b {
	color:#2E3190;
}

.contact_form strong {
	color:#2E3190;
}

.contact_form a {
	color:#2E3190;
}

.contact_form .title_1 {
	width:690px;
	height:20px;
	padding-top:4px;
	background:url(../images/contact_form_title_1_bg.png) no-repeat;
	color:#FFF;
	text-align:center;
}

.contact_form .title_2 {
	font-size:14px;
}

.contact_form .asterisk {
	color:#900;
}

.contact_form .image {
}

/* ---------- Components ---------- */

/* Search */

.search {
}

.search .word {
	padding:10px;
	border:1px solid #2E3190;
}

.search .searchintro {
	padding:10px 0px 10px 0px;
}

.search .phrases {
	margin-bottom:10px;
	padding:10px;
	border:1px solid #2E3190;
}

.search .phrases legend {
	padding:0px 10px 0px 10px;
	color:#2E3190;
}

.search .phrases .phrases-box {
	margin-bottom:10px;
}

.search .phrases .phrases-box label {
	padding:0px 10px 0px 10px;
}

.search .only {
	margin-bottom:10px;
	padding:10px;
	border:1px solid #2E3190;
}

.search .only legend {
	padding:0px 10px 0px 10px;
	color:#2E3190;
}

.search .only label {
	padding:0px 10px 0px 10px;
}

.search .form-limit {
	margin-bottom:10px;
	text-align:center;
}

.search .counter {
	margin-bottom:10px;
	text-align:center;
}

.search .search-results {
}

.search .search-results .result-title {
	margin-bottom:5px;
	font-weight:bold;
	color:#2E3190;
}

.search .search-results .result-category {
	margin-bottom:10px;
	font-size:10px;
	color:#666;
}

.search .search-results .result-text {
	margin-bottom:10px;
}

.search .search-results .result-text .highlight {
	font-weight:bold;
	color:#2E3190;
}

.search .search-results .result-created {
	margin-bottom:10px;
	font-size:10px;
	color:#666;
}

.search .pagination {
	text-align:center;
	clear:both;
}

.search .pagination ul {
	padding:0px;
	list-style:none;
}

.search .pagination ul li {
	padding:0px 5px 0px 5px;
	list-style:none;
	display:inline;
}

/* VirtueMart */

/* Category */

.category_description {
}

.browse-view {
	margin:0px;
}

.browse-view .orderby-displaynumber {
	color:#FFF;
}

.browse-view .orderlistcontainer div.title {
	margin-bottom:5px;
}

.browse-view .orderlistcontainer div.activeOrder {
	width:140px;
	padding:2px;
	background-color:#FFF;
	border:1px solid #E4E4E4;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFF;
}

.browse-view .display-number {
	color:#FFF;
}

.browse-view .display-number .inputbox {
	margin-top:10px;
}

.browse-view h1 {
	margin-bottom:10px;
	color:#BF272D;
}

.browse-view .row {
}

.browse-view .row .product {
	margin:0px 10px 0px 10px;
	background-color:#FFF;
}

.browse-view .row .width25 {
	width:142px;
}

.browse-view .row .product .spacer {
	padding:0px;
}

.browse-view .row .product .spacer .img {
	width:140px;
	height:140px;
	margin:auto;
	padding:5px;
	border:1px solid #E4E4E4;
	text-align:center;
}

.browse-view .row .product .spacer h2 {
	padding:5px;
	color:#BF272D;
	text-align:center;
}

.browse-view .row .product .spacer h2 a {
	color:#BF272D;
}

/* Product Details */

.width60 {
}

.width40 {
	width:35%;
	padding:10px;
}

.button_product {
	padding:20px;
}

/* Pagination */

.vm-pagination {
	padding-top:10px;
	color:#FFF;
	text-align:center;
}

.vm-pagination ul {
	padding:0px;
	list-style:none;
}

.vm-pagination ul li {
	padding:0px 5px 0px 5px;
	list-style:none;
	display:inline;
}

/* ---------- Modules ---------- */

/* Top */

.moduletable_t1 {
	width:278px;
	height:114px;
	margin:11px 0px 11px 12px;
	float:left;
	position:relative;
}

.moduletable_t2 {
	width:402px;
	height:82px;
	margin:5px 0px 0px 0px;
	float:left;
	position:relative;
}

.moduletable_t3 {
	margin:10px 10px 0px 40px;
	float:left;
	position:relative;
}

.moduletable_t3 h3 {
	font-weight:normal;
	color:#FFF;
}

.moduletable_t4 {
	width:44px;
	height:36px;
	margin:-4px 10px 0px 0px;
	float:left;
	position:relative;
}

.moduletable_t5 {
	width:44px;
	height:36px;
	margin:-4px 0px 0px 0px;
	float:left;
	position:relative;
}

.moduletable_t6 {
	width:220px;
	margin:20px 0px 0px 30px;
	float:left;
	position:relative;
}

.moduletable_t6 h3 {
	color:#FFF;
	text-transform:uppercase;
	float:left;
	position:relative;
}

.moduletable_t6 form {
}
 
.search_t6 {
}

.search_t6 label {
	font-size:0px;
}

.search_t6 .inputbox_t6 {
	width:145px;
	height:20px;
	margin-left:10px;
	padding:0px;
	background:url(../images/inputbox_t6_bg.png);
	border:none;
	-ms-border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-khtml-border-radius:8px;
	border-radius:8px;
}

.moduletable_t7 {
	width:636px;
	height:42px;
	margin:6px 0px 0px 20px;
	padding:2px;
	background:url(../images/moduletable_t7_bg.png) no-repeat;
	float:left;
	position:relative;
}

ul.menu_list {
	list-style:none;
}

ul.menu_list li {
	padding:6px 5px 0px 5px;
	border-right:2px solid #FFF;
	text-transform:uppercase;
	float:left;
	position:relative;
}

ul.menu_list li.active a {
	background-color:#FFF;
	-ms-border-radius-topleft:8px;
	-ms-border-radius-topright:8px;
	-moz-border-radius-topleft:8px;
	-moz-border-radius-topright:8px;
	-webkit-border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-khtml-border-radius-topleft:8px;
	-khtml-border-radius-topright:8px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	color:#BF272D;
}

ul.menu_list a {
	padding:10px 3px 10px 3px;
	color:#FFF;
	text-decoration:none;
	display:block;
}

ul.menu_list a:hover {
	background-color:#FFF;
	-ms-border-radius-topleft:8px;
	-ms-border-radius-topright:8px;
	-moz-border-radius-topleft:8px;
	-moz-border-radius-topright:8px;
	-webkit-border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-khtml-border-radius-topleft:8px;
	-khtml-border-radius-topright:8px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	color:#BF272D;
}

ul.menu_list li.item-101 {
	font-size:0px;
}

ul.menu_list li.item-101 a {
	width:22px;
	height:22px;
	padding:8px 6px 5px 6px;
	background:url(../images/item-101_a_bg.png) no-repeat;
	background-position:center;
	font-size:0px;
}

ul.menu_list li.item-101 a:hover, ul.menu_list li.item-101.active a {
	background:url(../images/item-101_a_hover_bg.png) no-repeat #FFF;
	background-position:center;
}

ul.menu_list li.item-112 {
	border-right:none;
}

/* Left */

.moduletable_l1 {
}

.moduletable_l1 h3 {
	width:230px;
	height:25px;
	padding-top:5px;
	background:url(../images/moduletable_l1_h3_bg.png) no-repeat;
	font-size:16px;
	color:#FFF;
	text-align:center;
}

.moduletable_l1 ul.VMmenu {
	margin:0px;
	padding:0px;
	border:1px solid #0071BA;
}

.moduletable_l1 ul.VMmenu li {
	margin:0px;
	padding:0px;
}

.moduletable_l1 ul.VMmenu div {
	/*background:url(../images/moduletable_l1_div_bg.png) no-repeat 7px 10px;*/
}

.moduletable_l1 ul.VMmenu li:nth-child(1) div {
	background:url(../images/moduletable_l1_div_bg_1.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li:nth-child(2) div {
	background:url(../images/moduletable_l1_div_bg_2.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li:nth-child(3) div {
	background:url(../images/moduletable_l1_div_bg_3.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li:nth-child(4) div {
	background:url(../images/moduletable_l1_div_bg_4.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li:nth-child(5) div {
	background:url(../images/moduletable_l1_div_bg_5.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li:nth-child(6) div {
	background:url(../images/moduletable_l1_div_bg_6.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li:nth-child(7) div {
	background:url(../images/moduletable_l1_div_bg_7.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li:nth-child(8) div {
	background:url(../images/moduletable_l1_div_bg_8.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li:nth-child(9) div {
	background:url(../images/moduletable_l1_div_bg_9.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li:nth-child(10) div {
	background:url(../images/moduletable_l1_div_bg_10.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li:nth-child(11) div {
	background:url(../images/moduletable_l1_div_bg_11.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li:nth-child(12) div {
	background:url(../images/moduletable_l1_div_bg_12.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li:nth-child(13) div {
	background:url(../images/moduletable_l1_div_bg_13.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li:nth-child(14) div {
	background:url(../images/moduletable_l1_div_bg_14.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li:nth-child(15) div {
	background:url(../images/moduletable_l1_div_bg_15.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li:nth-child(16) div {
	background:url(../images/moduletable_l1_div_bg_16.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li:nth-child(17) div {
	background:url(../images/moduletable_l1_div_bg_17.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li:nth-child(18) div {
	background:url(../images/moduletable_l1_div_bg_18.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li:nth-child(19) div {
	background:url(../images/moduletable_l1_div_bg_19.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li:nth-child(20) div {
	background:url(../images/moduletable_l1_div_bg_20.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li:nth-child(21) div {
	background:url(../images/moduletable_l1_div_bg_21.png) no-repeat 7px 10px;
}

.moduletable_l1 ul.VMmenu li a {
	padding:8px 10px 8px 18px;
	display:block;
}

.moduletable_l1 ul.VMmenu li:nth-child(odd) a {
	background:url(../images/moduletable_l1_a_bg.png);
}


.moduletable_l1 ul.VMmenu li a:hover, .moduletable_l1 ul.VMmenu li.VmOpen a {
	width:202px;
	padding:8px 18px 8px 18px;
	background:url(../images/moduletable_l1_a_hover_bg.png) no-repeat;
	background-position:center;
	color:#FFF;
	text-decoration:none;
}

/* Banners */

.moduletable_b1 {
	width:690px;
	height:305px;
	margin-bottom:20px;
}

.moduletable_b2 {
	width:150px;
	height:134px;
	margin:20px 11px 20px 11px;
	float:left;
	position:relative;
}

.moduletable_b3 {
	width:150px;
	height:134px;
	margin:20px 11px 20px 11px;
	float:left;
	position:relative;
}

.moduletable_b4 {
	width:150px;
	height:134px;
	margin:20px 11px 20px 11px;
	float:left;
	position:relative;
}

.moduletable_b5 {
	width:150px;
	height:134px;
	margin:20px 11px 20px 11px;
	float:left;
	position:relative;
}

.moduletable_b6 {
	width:150px;
	height:134px;
	margin:20px 11px 20px 11px;
	float:left;
	position:relative;
}

.moduletable_b7 {
	width:150px;
	height:134px;
	margin:20px 11px 20px 11px;
	float:left;
	position:relative;
}

.moduletable_b8 {
	width:150px;
	height:134px;
	margin:20px 11px 20px 11px;
	float:left;
	position:relative;
}

.moduletable_b9 {
	width:150px;
	height:134px;
	margin:20px 11px 20px 11px;
	float:left;
	position:relative;
}

/* Right */

.moduletable_r1 {
	width:218px;
	height:40px;
	margin-bottom:10px;
}

.moduletable_r2 {
	width:218px;
	height:84px;
	margin-bottom:10px;
	background-color:#000;
	font-size:10px;
	color:#FFF;
}

.moduletable_r2 h3 {
	padding:2px 0px 1px 0px;
	background:url(../images/moduletable_r2_h3_bg.png) no-repeat;
	color:#FFF;
	text-align:center;
}

.moduletable_r2 #login-form {
	padding:5px 5px 0px 5px;
}

.moduletable_r2 td {
	padding:2px;
}

.moduletable_r2 a {
	color:#808080;
}

.moduletable_r2 .inputbox {
	width:140px;
	padding:0px;
	background-color:#666;
	border:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
}

.moduletable_r2 .button {
	padding:0px;
	background-color:#000;
	border:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#FFF;
}

.moduletable_r3 {
	width:218px;
	height:134px;
}

/* Products */

.moduletable_p1 {
	width:130px;
	height:186px;
	margin-right:4px;
	border:2px solid #FAFAFA;
	float:left;
	position:relative;
}

.moduletable_p2 {
	width:130px;
	height:186px;
	margin-right:4px;
	border:2px solid #FAFAFA;
	float:left;
	position:relative;
}

.moduletable_p3 {
	width:130px;
	height:186px;
	margin-right:4px;
	border:2px solid #FAFAFA;
	float:left;
	position:relative;
}

.moduletable_p4 {
	width:130px;
	height:186px;
	margin-right:4px;
	border:2px solid #FAFAFA;
	float:left;
	position:relative;
}

.moduletable_p5 {
	width:130px;
	height:186px;
	margin-right:3px;
	border:2px solid #FAFAFA;
	float:left;
	position:relative;
}

.moduletable_p6 {
	width:130px;
	height:186px;
	margin-right:3px;
	border:2px solid #FAFAFA;
	float:left;
	position:relative;
}

.moduletable_p7 {
	width:130px;
	height:186px;
	border:2px solid #FAFAFA;
	float:left;
	position:relative;
}

/* ---------- Others ---------- */

.clear {
	clear:both;
}